
body {
    background:linear-gradient(#296be6, #5f4f9b,#b23ce0) ;
}

h1 {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px 4px rgb(245, 245, 245);
    font-size: xx-large;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu-bar{
    background: rgb(78, 147, 233);
    text-align: center;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(57, 92, 122);

}

.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: aliceblue;
}

.active, .menu-bar ul li:hover {
    background: #6bbfca;
    border-radius: 3px;

}

.sub-menu-1{
    display: none;

}

.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: #3868c2;
    margin-top: 15px;
    margin-left: -15px;
}

.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;

}

.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #ffffff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
    color: #000000;
}